{% extends 'base.html' %}
{% block body %}
    <div>
        <p>
            <a class="addon"><img src="img/classic.png" height="200" width="150"></a>
            <a class="addon"><img src="img/goldpack.jpg" height="200" width="150"></a>
            <a class="addon"><img src="img/wog.png" height="200" width="150"></a>
            <a class="addon"><img src="img/gvg.png" height="200" width="150"></a>
            <a class="addon"><img src="img/gt.png" height="200" width="150"></a>
        </p>

        <p>
            <a class="addon"><img src="img/gadjetzan.png" height="200" width="150"></a>
            <a class="addon"><img src="img/ungoro.png" height="200" width="150"></a>
            <a class="addon"><img src="img/tft.png" height="200" width="150"></a>
            <a class="addon"><img src="img/k&c.png" height="200" width="150"></a>
            <a class="addon"><img src="img/witchwood.png"></a>
        </p>

        <p>
            <a class="addon"><img src="img/boomsday.png"></a>
            <a class="addon"><img src="img/rr.png" height="200" width="150"></a>
            <a class="addon"><img src="img/ros.png" height="200" width="150"></a>
            <a class="addon"><img src="img/sou.png" height="200" width="150"></a>
            <a class="addon"><img src="img/dod.png" height="200" width="150"></a>
        </p>

        <p>
            <a class="addon"><img src="img/dragon.png" height="200" width="150"></a>
            <a class="addon"><img src="img/aoe.png" height="200" width="150"></a>
            <a class="addon"><img src="img/scholomance.png" height="200" width="150"></a>
        </p>
    </div>
{% endblock %}