{% extends 'base.html' %}
{% block body %}
    <div>
        {% if not the_addon %}
            {% for name in addon %}
                <p>
                    <a class="addon" href="{{ url_for('insert', addon=name) }}">
                        <img src="{{ url_for('frontend', filename=f'img/{name}.png') }}" height="200" width="150"></a>
                </p>
            {% endfor %}

        {% else %}
            {% if inserted %}
                Добавить кнопки: на главную; к выбору аддонов

            {% else %}
                <form class="" method='POST' action='/add/complete'>
                    <select name="raretype[]">
                        {% for id, name in raretype.items() %}
                            <option value="{{ id }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                    <input type="radio" name="values[]" value="2">Повышенная<br>
                    <input type="submit" class="toServer" value="сохранить">
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}