{% extends 'base.html' %}
{% block body %}
    <select>
        <option name="" value="">Addon</option>
        <option name="" value="">Pack</option>
        <option name="" value="">Rare</option>
    </select>

    <table>
        <tr>
            <th>Addon</th>
            <th>Pack</th>
            <th>Rare</th>
        </tr>
        {% for %}
            <tr>
                <td>{{  }}</td>
                <td>{{  }}</td>
                <td>{{  }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}